<mat-toolbar>
    <span>Submit Notes</span>
</mat-toolbar>
<div class="subject">
    <mat-form-field class="full-width">
        <mat-label>Subject</mat-label>
        <input matInput [(ngModel)]="subject" placeholder="Subject">
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Enter Note</mat-label>
        <textarea matInput cdkTextareaAutosize placeholder="Ex. It makes me feel..." [(ngModel)]="note"></textarea>
    </mat-form-field>
    <button mat-button *ngIf="submitEnable==true" class="lrge-btn" (click)="submitNote()">Submit</button>
    <button mat-button *ngIf="updateEnable==true" class="lrge-btn" (click)="UpdateNote()">Update</button>
</div>