table {
    width: 100%;
}

.icn {
    margin-left: 5px;
}

.fab-icon {
    position: fixed !important;
    right: 15px;
    bottom: 15px;
    /* Add this and change value to set the margin you want */
}

.logout-btn {
    margin-left: 85%;
    cursor: pointer;
}

h2 {
    margin: 10;
    text-align: center;
}

mat-toolbar {
    background-color: black;
    color: white;
}
